.filter {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  filter: url(#goo);
}
.QnAwrapper {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 5%;
  background-color: var(--bg-1);
  color: rgb(53, 52, 50);
}
.questionLayout {
  position: absolute;
  left: 5%;
  top: 5vh;
  width: 75vw;
  display: grid;
  place-items: center;
  font-size: 5vw;
  font-family: "Editorial Old";
  letter-spacing: 0.075ch;
}
.answerLayout {
  position: absolute;
  right: 10%;
  bottom: 15%;
  width: 45vw;
  height: 30vh;
  display: grid;
  place-items: center;
  font-family: "Mori Regular";
  font-size: 1.5vw;
  font-weight: bold;
  letter-spacing: 0.1ch;
  text-transform: lowercase;
  /* background-color: aqua; */
}
@media (max-width: 1024px) {
  .questionLayout {
    left: 10%;
    font-size: 7vw;
  }
  .answerLayout {
    font-size: 2.5vw;
    width: 60vw;
    height: 35vh;
    right: 5%;
    bottom: 10.5%;
  }
}
@media (max-width: 768px) {
  .questionLayout {
    font-size: 8.5vw;
  }
  .answerLayout {
    font-size: 3vw;
  }
}
