.filter {
  filter: url(#goo);
  position: absolute;
  height: 97.5%;
  width: 97.5%;
  display: flex;
  align-items: center;
}
.container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-1);
  user-select: none;
}
.message {
  position: absolute;
  font-family: "Editorial Old";
  font-size: 6.5vw;
  right: 2%;
  bottom: 5%;
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  perspective: 10vw;
}
.result {
  position: absolute;
  left: 0;
  top: 0;
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5%;
  font-size: 10vw;
  overflow: hidden;
}
.resultInner {
  position: relative;
  height: 100%;
  display: flow-root;
  font-family: "Mori Regular";
}
.letterWrapper {
  overflow: hidden;
  position: relative;
  padding: 2.5%;
  line-height: 75%;
}
.letterInner {
  position: relative;
  display: inline-block;
}
@media (max-width: 1024px) {
  .message {
    width: 60%;
    font-size: 8vw;
    bottom: 10%;
    letter-spacing: 0.075ch;
    text-align: right;
    right: 5%;
  }
  .result {
    font-size: 25vw;
    padding: 5%;
  }
}
@media (max-width: 768px) {
  .message {
    width: 60%;
    font-size: 10vw;
    right: 10%;
  }
  .result {
    font-size: 144px;
  }
}
